.button-add{
    text-align: center;
    margin-right: 15%;
    padding-top: 5px;
    text-transform: uppercase;
    transition: 0.5s;
}
.button-add button{
    background-color: #008B8B;
    box-shadow: 0 0 5px red;
   border-radius: 10px;
   border: 5px solid black;
   outline: none;
   cursor: pointer;
   padding: 5px 6px 3px 3px;
   color: #E0C3FC;;
}
.button-add button:hover{
    box-shadow: 0 0 35px black;
}
.control-img{
    width: 80%;
    position: relative;
}
a{
    text-decoration: none;
}
#main_menu li
{
    a{
        display: block;
        text-transform: none;
        
    }
    float: left;
    position: relative;
    .sub_menu{
        li{
            transform: translateX(-33px);
        }
        z-index: 1;
        position: absolute;
        display: none;
        background-color: yellow;
        border-radius: 10px;
        top: 100%;
        left: 0%;
        height: 330px;
        width: 70px;
        
    }

}
#main_menu li:hover{
    .sub_menu{
        display: block;
        background-color: red;
    }
    li:hover{
        background-color: #007bff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
}


html,body{
    margin: 0;
    padding: 0;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #FF0800;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #E6E6FA;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #EF0107;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    &__head{
        display: flex;
        border: 1px solid black;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

        &__logo{
            flex: 2;
            position: relative;
            a{
                text-decoration: none;
                color: #008B8B;
                h3{
                    position: absolute;
                    padding: 1rem;
                    border: 1px solid red;
                    border-radius: 1rem;
                    background-color: yellow;
                }
            }
            a:hover{
                color: red;
            }
        }
        &__search{
            flex: 3;
            button{
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
                padding: 0.2rem;
                border-radius: 8px;
            }
            input{
                padding: 2px 10px 2px 10px;
                border-radius: 15px;
                border-color: #007bff;
            }
            small{
                color: yellowgreen;
            }
            p{
                color: white;
            }
        }
        &__cart{
            flex: 2;
            i{
                font-size: 2.2rem;
            }
        }
        &__log{
            flex: 1;
            i{
                font-size: 2rem;
                margin-left: 1.2rem;
                transform: translateY(10px);
                color: #F40009;
            }
            h2{
                color: #007bff;
            }
            h2:hover{
                cursor: pointer;
            }
        }
    }
    &__headnav{
        display: flex;
        nav{
            border: 1px solid red;
            width: 100%;
            background: rgb(24, 158, 255);
            ul{  
                position: relative;
                li{
                    
                    display: inline;
                    list-style: none;
                    padding: 0.7rem;
                    margin: 7px;
                    border: 1px solid red;
                    border-radius: 10px;
                    background-color: yellow;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    a:hover{
                        color: #fff;
                    }
                }
                li:hover{
                    background-color: red;
                }
            }
        }
    }
    &__body{
        
        flex-direction: column;
        &__top{
            flex: 1;
            display: flex;
            max-height: 30rem;
            &__left{
                display: flex;
                flex: 1;
                &__first{
                    flex: 1;
                    &__top{
                        flex: 1;
                        img{
                            height: 5rem;
                            width: 100%;
                        }
                    }
                    &__mid{
                        flex: 1;
                        img{
                            height: 20rem;
                            width: 100%;
                        }
                    }
                    &__down{
                        flex: 1;
                        img{
                            height: 5rem;
                            width: 100%;
                        }
                    }
                }
                &__second{
                    background-color: #f2f2f2;
                    flex: 2;
                    
                    &__top{
                        flex: 1;
                        img{
                            height: 10rem;
                            width: 100%;
                        }
                    }
                    &__mid{
                        display: flex;
                        flex: 2;
                        img{
                            height: 10rem;
                            width: 100%;
                        }
                        &__left{
                            flex: 1;
                            background-color: red;
                        }
                        &__right{
                            flex: 1;
                        }
                    }
                    &__down{
                        flex: 1;
                        img{
                            height: 10rem;
                            width: 100%;
                        }
                    }
                }
                &__third{
                    background-color: aqua;
                    flex: 1;
                    &__top{
                        flex: 1;
                        img{

                        }
                    }
                    &__mid{
                        flex: 1;
                        img{

                        }
                    }
                    &__down{
                        flex: 1;
                        img{

                        }
                    }
                }
            }
            &__right{
                flex: 1;
                img{
                    height: 20em;
                    width: 100%;
                }
            }
        }
        &__down{
            display: flex;
            background-color: #8BC6EC;
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);            
            &__left{
                flex: 1.2;
                order: 2;
                &__time{
                    height: 4rem;
                    color: #F40009;
                    font-weight: bold;
                }
                &__content{
                    &__Fcontact{
                        border: 1px solid #8EC5FC;
                        border-radius: 5px;
                        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
                    }
                    &__Scontact{
                        border: 1px solid #8EC5FC;
                        border-radius: 5px;
                        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
                    }
                }
            }       
            
            &__right{
                flex: 7;
                &__top{
                    marquee{
                        height: 2rem;
                        color: #00f2fe;;
                        font-weight: 900;
                        font-size: 2rem;
                        filter: drop-shadow(2px 2px 4px red) !important;
                    }
                    
                }
                &__down{
                    &__title{
                        span{
                            color:blue;
                            font-weight: 900;
                            font-size: 1.2em;
                            border-bottom: 5px solid;
                        }
                        span:hover{
                            cursor: pointer;
                        }
                        
                    }
                    &__item{
                        display: flex;
                        justify-content: space-around;
                        img{
                            height: 10rem;
                            width: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        &__top{
                            flex-basis: 33%;
                            
                            
                            &__first{
                                height: 10rem;
                                margin:10px;
                                margin-bottom: 15px;
                                border: 5px solid #008000;
                            }
                            &__second{
                                height: 10rem;
                                margin:10px;
                                margin-bottom: 15px;
                                border: 5px solid #008000;
                            }
                        }
                        &__mid{
                            flex-basis: 33%;
                            
                            &__first{
                                height: 10rem;
                                margin:10px;
                                margin-bottom: 15px;
                                border: 5px solid #008000;
                            }
                            &__second{
                                height: 10rem;
                                margin:10px;
                                margin-bottom: 15px;
                                border: 5px solid #008000;
                            }
                        }
                        &__down{
                            flex-basis: 33%;
                            
                            &__first{
                                height: 10rem;
                                margin:10px;
                                margin-bottom: 15px;
                                border: 5px solid #008000;
                            }
                            &__second{
                                height: 10rem;
                                margin:10px;
                                margin-bottom: 15px;
                                border: 5px solid #008000;
                            }
                        }
                    }
                }
            }
        }
    }
}
